@media screen and (min-width:577px) {
    .hambarger {
        display: none;
    }
    .btn-primary-3 {
        display: none;
    }
    .running-image {
        display: none;
    }
}

@media screen and (max-width:576px) {

    .running-image-2 {
        display: none;
    }
    
    .header {
        /* width: 90%; */
    }
    .navbar-container {
        width: 90%;
    }

    .navbar ul  {
        display: none;
        
    }
    .nav-container {
        margin-right: 0;
    }
    .hambarger {
        color: rgb(255, 255, 255);
    }

    /* navbar section end here */

   /* description section */

   .first-containers {
    flex-direction: column;
    width: 90%;
    gap: 48px;
   }

   .description-container {
    width: 100%;
   }

   .description-container h1 {
    font-size: 2.8rem;
   }

   .cng-font {
    font-size: 5.5rem;
   }
   .btn-primary-1 {
    display: none;
   }
   .btn-primary-2 {
    padding: 16px 33px;
    margin-right: 0;
    margin-bottom: 0;
   }

   .box-1 {
    width: 182px;
    height: 90px;
    right: 90px;
    bottom: 245px;
    padding: 20px 16px;
   }

   .box-1 p{
    font-size: 0.85rem;
   }

   .box-4 {
    width: 165px;
    padding: 20px 20px;
    right: -96px;
    bottom: 436px;
   }

   .box-3 p{
    font-size: 0.7rem;
   }


 /* description section  end here*/ 

 /* habit-change-section start here*/
    .habit-change-section {
    position: relative;
    top: 287px;
    width: 90%;
    }

    .change-habit-description {
        width: 100%;
    }

    .change-habit-description h1 {
        font-size: 2rem;
    }

    .change-habit-description p{
        margin-bottom: 0;
    }
 /* habit-change-section end here*/

 /* habit-change-images start here */

    .habit-change-images {
    grid-template-columns: repeat(1, 1fr);
    margin: 2rem auto;
    }

    .image-1 {
        margin-bottom: 40px;
    }

     /* habit-change-images end here */

     /* running section start here */
    .running-section {
        position: relative;
        top: 250px;
        flex-direction: column;
        height: 600px ;
        width: 90%;
    }

    .running-description {
        position: absolute;
        top: 70px;
       width: 340px;
        padding: 0;
    }

    .running-description h3 {
        font-size: 2rem;
    }
    .running-description .run-des {
        font-size: 0.85rem;
        
    }
    

    .running-image {
        position: absolute;
        top: 330px;
        width: 340px;
    }
    .running-image img {
        width: 100%; 
        height: 40%;
        object-fit: cover;
        /* transform: scale(2); */
        border-radius: 18px;
    } 

    .bton-size .btn-primary-3 {
        margin: 0 auto;
        padding: 20px 104px;
        margin-bottom: 30px;
    }
     /* running section end here */

     /* unic section start here */

    .unic-section {
        position: relative;
        top: 170px;
        flex-direction: column;
        width: 90%;
        
    }

    .unic-container {
        width: 100%;
    }

    .gym-town  {
        font-size: 2rem;
    }

    .unic-content h3 {
        font-size: 2rem;
    }

    .unic-content p{ 
        font-size: 1em;
        width: 90%;
    }

    .btn-primary-4 {
        color: rgb(255, 255, 255);
        font-size: 1.125rem;
        font-weight: 600;
        font-family: "Inter", sans-serif;
        padding: 12px 15px;
        border-radius: 42px;
        border: none;
        background: rgb(230, 83, 60);
        width:62%;
    }


    .box-7 {
        display: none;
    }
    .box-5 {
        width: 100%;

    }

    .unic-images {
        margin-top: 32px;
    }

    .unic-images img {
        width: 100%;
        height: 250px;
        margin-bottom: 32px;
    }

    /* first unic section end here */

    /* second unic section start here */

    .traininng-section {
        width: 90%;
        position: relative;
        top: 60px;
    }

    .training-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .training-title h3 {
        font-size: 2rem;
        padding: 0;
    }

    /* second unic section end here */


    /* calculator title section start here */

    .bmi-calc-title {
        width: 90%;
    }

    .bmi-calc-title h2 {
        width: 100%;
    }
    .bmi-calc-title p {
        width: 100%;
    }

     /* calculator title section end here */

     /* calculator  section start here */

     .bmi-calc-section {
        flex-direction: column;
        height: 850px;
     }

     .bmi-chart-container {
        width: 90%;
        margin: 0 auto;
        align-items: normal;
     }

     .chart-title h3 {
        font-size: 1.5rem;
        margin-right: 0;
        margin-top: 50px;
        font-weight: 800;
     }

     .bmi-calc-des h3  {
        font-size: 1.5rem;
        font-weight: 800;
     }

     .bmi-chart-table {
        margin-left: 0;
        margin-top: 40px;
        width: 90%;
     }

     .bmi-calc-container {
        width: 90%;
        margin-left: 0;
        margin: 0 auto;
        
     }

     /* inputbox */

     .input-box input {
        padding: 15px 42px;
        width: 100%;
    }
    
    .input-box select {
        padding: 15px 42px;
        width: 100%; 
    }

    /* trainer team section  */

    .team-section {
        width: 100%;
        margin: 0;
    }

    .tainer-team-title{
        width: 90%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .tainer-team-title h3 {
        font-size: 2.5rem;
        font-weight: 900;
    }

    .tainer-team-title p {
        width: 100%;
        font-size: 1rem;
        font-weight: 400;
        line-height: 24px;
    }

    /* team image container */

    .team-image-container  {
        width: 90%;
        margin: 0 auto;
        grid-template-columns: repeat(1, 1fr);
    }

    .team-image-content img  {
        width: 342px;
    }

    .tainer-team-title {
        margin: 0 auto;
        margin-top: 60px;
    }
    .tainer-team-title p{
        margin-bottom: 40px;
    }
    

}


