@media screen and (min-width:577px) {
    .hambarger {
        display: none;
    }
    .btn-primary-3 {
        display: none;
    }
    .running-image {
        display: none;
    }
}






@media screen  and (max-width:1344px) {
    .main-container {
        max-width: 1344px;
        margin: 0 auto;
    }

    /* Universal selector */
    
    * {
        font-family: "Inter", sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        padding: 0;
        background: #000000;
    }
    
    .clr-1 {
        color: rgb(230, 83, 60);
    }
    
    
    .header {
        max-width: 100%;
        margin: 0 auto;
        height: 722px;
        background: linear-gradient(180.00deg, rgb(24, 24, 24)50%,rgba(119, 119, 119, 0) );
        padding-top: 57px;
    }
    .navbar-container {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 32px;
    }
    
    .logo {
        font-family: "Inter", sans-serif;
        font-size: 2rem;
        font-weight: 800;
    }
    
    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin-right: 70px;
    }
    
    .navbar ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        gap: 30px;
        margin: 0 10px;
        padding: 4px;
        border: 1px solid rgba(255,255,255,0.1);
        border-radius: 39px;
    }
    
    .navbar li {
        list-style: none;
    }
    
    .navbar a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: "Inter", sans-serif;
        font-size: 1.125rem;
        font-weight: 400;
        text-align: left;
        padding: 8px 20px;
        border-radius: 46px;
        background: none;
    }
    
    .navbar  .clr-2 {
        background: rgb(230, 83, 60);
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    } 
    
    /* Navbar end */
    
    /* description-container */
    
    .first-containers {
        width: 80%;
        margin: 2rem auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        gap: 80px;
    }
    
    .description-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .description-container h1 {
        color: rgb(255, 255, 255);
        font-size: 4.875rem;
        font-family: "Inter", sans-serif;
        font-weight: 900;
        line-height: 120%;
        margin-bottom: 28px;
       
    }
    
    .cng-font {
        font-family: "Sacramento", cursive;
        font-size: 7.5rem;
        font-weight:100;
        font-style: italic;
    }
    
    .description-container p {
        color: rgba(255,255,255,0.5);
        font-size: 1.15rem;
        font-weight: 400;
        font-family: "Inter", sans-serif;
        line-height: 24px;
        letter-spacing: 0.5px;
        margin-bottom: 28px;
    }
    
    .btn-primary-1 {
        color: rgb(255, 255, 255);
        font-size: 1.125rem;
        font-weight: 600;
        font-family: "Inter", sans-serif;
        padding: 16px 40px;
        border-radius: 42px;
        border: none;
        background: rgb(230, 83, 60);
    }
    .btn-primary-3 {
        color: rgb(255, 255, 255);
        font-size: 1.125rem;
        font-weight: 600;
        font-family: "Inter", sans-serif;
        padding: 16px 40px;
        border-radius: 42px;
        border: none;
        background: rgb(230, 83, 60);
    }
    
    .btn-primary-2 {
        color: rgb(241, 231, 231);
        font-size: 1.125rem;
        font-weight: 600;
        font-family: "Inter", sans-serif;
        padding: 16px 40px;
        border-radius: 42px;
        border: none;
        background-color: transparent;
        border: 2px solid ;
        margin-bottom: 80px;
        margin-left: 15px;
    }
    
    .btn-size {
        width: 40px;
        height: 40px;
        background: transparent;
    }
    
    
    
    .header-image {
        width: 50%;
        position: relative;
    }
    
    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    .box-1 {
        width: 211px;
        height: 96px;
        display: flex;
        justify-content: center;
        align-items:center ;
        gap: 12px;
        border: 1px solid rgba(255,255,255,0.1); 
        border-radius: 12px;
        backdrop-filter: blur(20px);
        background: rgba(48, 48, 48, 0.3);
        padding: 20px 23px;
        position: absolute;
        right: 340px;
        bottom: 75px;
    }
    
    .box-2 {
        width: 160px;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    
    
    .box-2 h3 {
        color: rgb(255,255,255);
        font-size: 1.375rem;
        font-weight: 900;
        letter-spacing: 0.54px;
        margin-bottom: 8px;
    }
    
    .box-2 p {
        color: rgba(239, 237, 232, 0.65);
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.5px;
    }
    
    .box-4 {
        width: 193px;
        height: 98px;
        display: flex;
        gap: 12px;
        border: 1px solid rgba(255,255,255,0.1); 
        border-radius: 12px;
        backdrop-filter: blur(20px);
        background: rgba(255,255,255,0.1);
        padding: 20px 23px;
        position: absolute;
        right: 10px;
        bottom: 360px;
    }
    
    .box-3 {
        width: 160px;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .box-3 h3 {
        color: rgb(255,255,255);
        font-size: 1.875rem;
        font-weight: 900;
        letter-spacing: 0.3px;
        margin-bottom: 5px;
    }
    .box-3 p {
        color: rgba(239, 237, 232, 0.65);
        font-size: 0.86rem;
        font-weight: 400;
        letter-spacing: 0.5px;
    }
    
    /* Main section start here */
    /* habit-change-section */
    
    .habit-change-section {
        width: 80%;
        margin: 2rem auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }
    
    .change-habit-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 60%;
        margin: 2rem auto;
    }
    .change-habit-description h1 {
        color: rgb(255, 255, 255);
        font-size: 3rem;
        font-weight: 900;
        margin-bottom: 14px;
    }
    .change-habit-description p {
        color: rgba(255,255,255,0.5);
        font-size: 0.875rem;
        font-weight: 400;
        letter-spacing: 0.3px;
        margin-bottom: 55px;
        line-height: 24px;
    }
    
    /* habit-change-images */
    
    .habit-change-images {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        align-items: center;
        text-align: center;
        margin-bottom: 100px;
    }
    
    .image-1 {
        max-width: 231px;
        max-height: 274px;
    }
    
    .habit-change-images .image  {
        border-radius: 50%;
        margin-bottom: 30px;
    }
    .habit-change-images h5  {
        font-size: 1.125rem;
        font-weight: 600;
        color: rgb(255, 255, 255);
        margin-bottom: 6px;
    }
    
    .habit-change-images p {
        font-size: 0.875rem;
        font-weight: 400;
        color: rgba(255,255,255,0.5);
        line-height: 18px;
        letter-spacing: 0.3px;
    }
    
    
    /* Running image start here*/
    
     .running-section {
        width: 80%;
        height: 350px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 150px;
        border-radius: 18px;
        background: rgb(34, 34, 34);
        margin-bottom: 100px;
        padding: 28px 48px;
    } 
    
     .running-description {
        color: rgb(255, 255, 255);
        width: 45%; 
        height: 202px; 
         display: flex; 
         flex-direction: column;
        justify-content: center; 
        text-align: left;
        font-family: "Inter", sans-serif;
        padding-left: 20px;
        
    } 
    
     .running-description h3 {
        color: rgb(255, 255, 255);
        font-size: 3rem;
        font-weight: 900;
        line-height: 120%;
        font-family: "Inter", sans-serif;
        margin-bottom: 14px;
    }
    
    .running-description  .run-des {
        font-size: 1rem;
        color: rgba(255,255,255,0.5);
        line-height: 24px;
        margin-bottom: 34px;
        letter-spacing: 0.3%;
    }
    
    .bton-size {
        width: max-content;
        background: transparent;
        border: none;
        font-size: 1.25rem;
    
    }
    
    .running-image {
        width: 40%;
        height: 100%;
        overflow: hidden;
    }
    
    
    .running-image img {
        width: 100%; 
        height: 100%;
        object-fit: cover;
        /* transform: scale(2); */
        border-radius: 18px;
    }
    
    .running-image-2 img {
        width: 100%; 
        height: 100%;
        object-fit: cover;
        /* transform: scale(2); */
        border-radius: 18px;
        margin-right: -420px;
    }
    
    /* Running image end here*/ 
    
    .unic-section {
        width: 80%;
        margin: 0 auto;
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;
    }
    
    .unic-container{
        width: 50%;
    }
    
    .unic-content {
        width: 90%;
    }
    
    .unic-content  h3 {
        font-family: "Inter", sans-serif;
        font-size: 3.2rem;
        font-weight: 800;
        color: rgb(255, 255, 255);
        margin-bottom: 22px;
        letter-spacing: 0.3%;
    }
    
    .unic-content p {
        width: 66%;
        font-family: "Inter", sans-serif;
        font-size: 1.2rem;
        font-weight: 400;
        color: rgba(239, 237, 232, 0.65);
        line-height: 32px;
        margin-bottom: 32px;
    }
    
    
    .gym-town {
        font-family: "Inter", sans-serif;
        font-size: 3.4rem;
        font-weight: 800;
        color: rgb(230, 83, 60);
    }
    
    .btn-primary-4 {
        color: rgb(255, 255, 255);
        font-size: 1.125rem;
        font-weight: 600;
        font-family: "Inter", sans-serif;
        padding: 12px 15px;
        border-radius: 42px;
        border: none;
        background: rgb(230, 83, 60);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 220px;
    }
    
    .box-5 {
        display: flex;
        align-items: center;
        gap: 70px;
    }
    .box-6 {
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
    }
    
    .box-6 h3 {
        font-size: 1.8rem;
    }
    .box-6 p {
        font-size: 0.85rem;
        line-height: normal;
        color: rgba(239, 237, 232, 0.65);
    }
    
    .box-7 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: rgba(48, 48, 48, 0.486);
        backdrop-filter: blur(20px);
        padding: 15px 35px;
        border: 2px solid rgba(48, 48, 48, 0.803);
        border-radius: 8px;
        position: absolute;
        left: -36px;
        bottom: -32px;
        z-index: 1;
    }
    
    .box-7 h2 {
        font-size: 1.5rem;
    }
    
    
    
    .unic-images{
        position: relative;
    }
    
    .unic-images img {
        width: 540px;
        height: 350px;
        border-radius: 16px;
    }
    
    /* unic section end  here */
    
    /* unic section 1.1 start here*/
    
    .traininng-section {
        width: 80%;
        color: rgb(255, 255, 255);
        margin: 0 auto;
        background-color: rgb(34, 34, 34);
        border-radius: 18px;
        margin-bottom: 80px;
    }
    
    .training-title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .training-title h3 {
        font-size: 2.8rem;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 32px;
    }
    .training-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        gap: 50px;
        padding: 20px;
    }
    
    .card-1 {
        width: 93%;
        background-color: rgba(9, 9, 9, 0.65);
        padding: 25px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 0px rgba(239, 237, 232, 0.65);
    }
    
    .card-1 h4 {
        font-size: 1.8rem;
        margin-bottom: 16px;
        font-weight: 800;
    }
    
    .card-1  p {
        font-size: 0.95rem;
        color: rgba(239, 237, 232, 0.65);
        line-height: 24px;
    }
    .card-2 {
        width: 93%;
        background-color: rgba(9, 9, 9, 0.65);
        padding: 25px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 0px rgba(239, 237, 232, 0.65);
    }
    
    .card-2 h4 {
        font-size: 1.8rem;
        margin-bottom: 16px;
        font-weight: 800;
    }
    
    .card-2  p {
        font-size: 0.95rem;
        color: rgba(239, 237, 232, 0.65);
        line-height: 24px;
    }
    
    
    .card-3 {
        width: 93%;
        background-color: rgba(9, 9, 9, 0.65);
        padding: 25px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 0px rgba(239, 237, 232, 0.65);
    }
    
    .card-3  p {
        font-size: 0.95rem;
        color: rgba(239, 237, 232, 0.65);
        line-height: 24px;
    }
    
    
    .card-3 h4 {
        font-size: 1.8rem;
        margin-bottom: 16px;
        font-weight: 800;
    }
    .card-1 img {
        width: 200px;
        height: 170px;
        display: flex;
        justify-content: left;
    }
    .card-2 img {
        width: 170px;
        height: 170px;
        display: flex;
        justify-content: left;
    }
    .card-3 img {
        width: 170px;
        height: 170px;
        display: flex;
        justify-content: left;
    }
    
    /* unic section 1.1 end here */
    
    
    
    /* bmi cacl head title start  here */
    
    .bmi-calc-title {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
        text-align: left;
        margin-bottom: 35px;
        margin-top: 0px;
    }
    
    .bmi-calc-title h2 {
        width: 50%;
        text-align: left;
        font-size: 3rem;
        color: rgb(255, 255, 255);
        font-weight: 800;
        margin-bottom: 16px;
    }
    
    .bmi-calc-title p {
        width: 50%;
        font-size: 1rem;
        color: rgba(239, 237, 232, 0.65);
        line-height: 24px;
    }
    
    
    /* head title */
    
    /* calculator title section start here */
    
      
    .bmi-calc-section {
        width: 1334px;
        margin: 0 auto;
        background-color: rgb(34, 34, 34);
        color: rgb(255,255,255);
        height: 500px;
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    
    .bmi-chart-container {
        /* width: 50%; */
        display: flex;
        flex-direction: column;
        align-items: normal;
    }
    
    
    
    
    .chart-title h3 {
        font-size: 1.85rem;
        font-weight: 900;
        width: 100%;
        margin-top: 52px;
    }
    
    .bmi-chart-table {
        width: 65%;
        margin-left: 0px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-collapse: collapse;
        text-align: left;
        margin-top: 52px;
    }
    
    
    
    .t-head, .t-data {
        padding: 13px 20px;
        color: rgba(239, 237, 232, 0.65);
    }
    
    .t-head {
        font-size: 1.2rem;
        color: rgba(255, 255, 255, 0.915);
        font-weight: 400;
    }
    
    
    
    
    /* calculator title section end  here */
    
    
    
    
    
    
    
    /* bmi-calc-container */
    
    .bmi-calc-container {
        width: 40%;
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }
    
    
    /*  bmi calc description start here */
    
     
    .bmi-calc-des {
        width:100%;
        margin-top: 52px;
        text-align: left;
        display: flex;
        flex-direction: column;
    }
    
    
    .bmi-calc-des h3 {
        font-size: 1.85rem;
        font-weight: 900;
        width: 100%;
        margin-bottom: 14px;
    }
    
    .bmi-calc-des p {
        width: 95%;
        font-size: 0.95rem;
        color: rgba(239, 237, 232, 0.65);
        line-height: 24px;
        margin-bottom: 34px;
    }
    
    
    
    /*  bmi calc description end here */
    
    /* input-box start here */
    
    
    input::placeholder {
        color: rgba(239, 237, 232, 0.753);
    }
    
    .input-box input {
        width: 261px;
        padding: 15px 42px;
        font-size: 1.1rem;
        background-color: rgba(255, 255, 255, 0.1);
        color: rgba(239, 237, 232, 0.755);
        border-radius: 8px;
        border: none;
        outline: none;
    }
    
    .input-box select {
        padding: 15px 42px;
        font-size: 1.1rem;
        background-color: rgba(255, 255, 255, 0.1);
        color: rgba(239, 237, 232, 0.755);
        border-radius: 8px;
        border: none;
        outline: none;
    }
    
    .input-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    } 
    
    .select-box select {
        padding: 15px 42px;
        font-size: 1.1rem;
        background-color: rgba(255, 255, 255, 0.1);
        color: rgba(239, 237, 232, 0.755);
        border-radius: 8px;
        border: none;
        outline: none;
    }
    
    .select-box {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 10px;
    }
    
    .btn-primary-5 {
        color: rgb(255, 255, 255);
        font-size: 1.125rem;
        font-weight: 600;
        font-family: "Inter", sans-serif;
        padding: 17px 70px;
        border-radius: 42px;
        border: none;
        background: rgb(230, 83, 60);
    }
    
    .m-top {
        margin-top: 32px;
    }
    
    /* inputbox end here */
    
    /* tainer-team-title start here */
    
    .team-section {
        width: 80% ;
        margin: 0 auto;
        color: rgb(255, 255, 255);
    }
    
    .tainer-team-title {
        color: rgb(255, 255, 255);
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 100px;
    }
    
    .tainer-team-title h3{
        font-size: 3rem;
        font-weight: 900;
        width: 100%;
        margin-bottom: 20px;
    }
    
    
    .tainer-team-title p{
        font-size: 1.15rem;
        font-weight: 400;
        color: rgba(239, 237, 232, 0.65);
        width: 78%;
        line-height: 32px;
        margin-bottom: 70px;
    }
    
    /* tainer-team-title end here */
    
    /* team-image-content start here */
    
    .team-image-container {
        width: 100%;
        border-radius: 18px;
        background-color: rgba(255, 255, 255, 0.1);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-content: center;
        gap: 20px;
        padding: 20px;
        margin-bottom: 100px;
    }
    
    .team-image-content {
        position: relative;
        width: 100%;
        
    }
    
    .team-image-content img {
        width:100% ;
        height: 300px;
        border-radius: 18px;
        border: none;
        outline: none;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    
    }
    
    .trainer-des {
        position: absolute;
        top: 240px;
        left: 25px;
    }
    
    .trainer-des h4 {
        font-size: 1.2rem;
        font-weight: 900;
        margin-bottom: 5px;
    }
    .trainer-des p {
        font-size: 0.85rem;
        font-weight: 400;
        color: rgba(239, 237, 232, 0.727);
    }
    
    
    /* team-image-content end here */
    
    /* footer section start */
    
    .footer-section {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        /* height: 500px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 55px;
        padding-top: 70px;
    }
    
    
    .first-footer {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 59px;
        margin-bottom: 80px;
    }
    
    .footer-content {
        width: 100%;
    }
    
    .footer-content  h2{
        font-size: 4.2rem;
        color: rgb(230, 83, 60);
        font-style: italic;
        font-weight: 900;
        margin-bottom: 20px;
    }
    
    .footer-content p {
        font-size: 1rem;
        font-weight: 400;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.504);
    }
    
    
    .footer-contact  {
        width: 100%;
        margin-left: 58px;
    }
    
    .footer-contact h4 {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 40px;
        color: rgb(255,255,255);
    }
    
    .footer-contact p {
        font-size: 1.2rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.503);
        margin-bottom: 20px;
    }
    
    .footer-section hr {
        width: 80%;
        margin : 0 auto; 
        background-color: rgba(128, 128, 128, 0.356);
        border: 0;
        height: 0.8px;
        margin-bottom: 36px;
    }
    
    
    
    .last-footer {
        font-size: 1.25rem;
        color: rgba(255, 255, 255, 0.504);
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        letter-spacing: 0.3px;
    }
}

@media screen and (max-width:576px) {
 
    .description-container p {
        font-size: 1rem;
    }

    .running-image-2 {
        display: none;
    }
    
    .header {
        /* width: 90%; */
    }
    .navbar-container {
        width: 90%;
    }

    .navbar ul  {
        display: none;
        
    }
    .nav-container {
        margin-right: 0;
    }
    .hambarger {
        color: rgb(255, 255, 255);
    }

    /* navbar section end here */

   /* description section */

   .first-containers {
    flex-direction: column;
    width: 90%;
    gap: 48px;
   }

   .description-container {
    width: 100%;
   }

   .description-container h1 {
    font-size: 2.8rem;
   }

   .cng-font {
    font-size: 5.5rem;
   }
   .btn-primary-1 {
    display: none;
   }
   .btn-primary-2 {
    padding: 16px 33px;
    margin-right: 0;
    margin-bottom: 0;
   }

   .box-1 {
    width: 182px;
    height: 90px;
    right: 90px;
    bottom: 245px;
    padding: 20px 16px;
   }

   .box-1 p{
    font-size: 0.85rem;
   }

   .box-4 {
    width: 165px;
    padding: 20px 20px;
    right: -96px;
    bottom: 436px;
   }

   .box-3 p{
    font-size: 0.7rem;
   }


 /* description section  end here*/ 

 /* habit-change-section start here*/
    .habit-change-section {
    position: relative;
    top: 287px;
    width: 90%;
    }

    .change-habit-description {
        width: 100%;
    }

    .change-habit-description h1 {
        font-size: 2rem;
    }

    .change-habit-description p{
        margin-bottom: 0;
    }
 /* habit-change-section end here*/

 /* habit-change-images start here */

    .habit-change-images {
    grid-template-columns: repeat(1, 1fr);
    margin: 2rem auto;
    }

    .image-1 {
        margin-bottom: 40px;
    }

     /* habit-change-images end here */

     /* running section start here */
    .running-section {
        position: relative;
        top: 250px;
        flex-direction: column;
        height: 600px ;
        width: 90%;
    }

    .running-description {
        position: absolute;
        top: 70px;
       width: 340px;
        padding: 0;
    }

    .running-description h3 {
        font-size: 2rem;
    }
    .running-description .run-des {
        font-size: 0.85rem;
        
    }
    

    .running-image {
        position: absolute;
        top: 330px;
        width: 340px;
    }
    .running-image img {
        width: 100%; 
        height: 40%;
        object-fit: cover;
        /* transform: scale(2); */
        border-radius: 18px;
    } 

    .bton-size .btn-primary-3 {
        margin: 0 auto;
        padding: 20px 104px;
        margin-bottom: 30px;
    }
     /* running section end here */

     /* unic section start here */

    .unic-section {
        position: relative;
        top: 170px;
        flex-direction: column;
        width: 90%;
        
    }

    .unic-container {
        width: 100%;
    }

    .gym-town  {
        font-size: 2.4rem;
    }

    .unic-content h3 {
        font-size: 2.4rem;
    }

    .unic-content p{ 
        font-size: 1em;
        width: 90%;
    }

    .btn-primary-4 {
        color: rgb(255, 255, 255);
        font-size: 1.125rem;
        font-weight: 600;
        font-family: "Inter", sans-serif;
        padding: 12px 15px;
        border-radius: 42px;
        border: none;
        background: rgb(230, 83, 60);
        width:62%;
    }

    
    .unic-images {
        width: 100%;
        margin-top: 32px;
        position: relative;
    }

    .box-7 {
        position: absolute;
        left: 230px;
        bottom: 0px;
        padding: 12px 25px;

    }
    .box-5 {
        width: 100%;

    }


    .unic-images img {
        width: 90%;
        height: 250px;
        margin-bottom: 32px;
    }

    /* first unic section end here */

    /* second unic section start here */

    .traininng-section {
        width: 90%;
        position: relative;
        top: 80px;
    }

    .training-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .training-title h3 {
        font-size: 2rem;
        padding: 0;
    }


    /* unic card section */

    .card-3 {
        margin-bottom: 20px;
    }
    /* unic card section */


    /* second unic section end here */


    /* calculator title section start here */

    .bmi-calc-title {
        width: 90%;
        margin-bottom: 0;
        margin-top: 0;
    }

    .bmi-calc-title h2 {
        width: 100%;
    }
    .bmi-calc-title p {
        width: 100%;
    }

     /* calculator title section end here */

     /* calculator  section start here */

     .bmi-calc-section {
        flex-direction: column;
        height: 850px;
        width: 100%;
     }

     .bmi-chart-container {
        width: 90%;
        margin: 0 auto;
        align-items: normal;
     }

     .chart-title h3 {
        font-size: 1.5rem;
        margin-right: 0;
        margin-top: 50px;
        font-weight: 800;
     }

     .bmi-calc-des h3  {
        font-size: 1.5rem;
        font-weight: 800;
     }

     .bmi-chart-table {
        margin-left: 0;
        margin-top: 40px;
        width: 90%;
     }

     .bmi-calc-container {
        width: 90%;
        margin-left: 0;
        margin: 0 auto;
        
     }

     /* inputbox */

     .input-box input {
        padding: 15px 42px;
        width: 100%;
    }
    
    .input-box select {
        padding: 15px 42px;
        width: 100%; 
    }

    /* trainer team section  */

    .team-section {
        width: 100%;
        margin: 0;
        margin-bottom: 50px;
    }

    .tainer-team-title{
        width: 90%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .tainer-team-title h3 {
        font-size: 2.5rem;
        font-weight: 900;
    }

    .tainer-team-title p {
        width: 100%;
        font-size: 1rem;
        font-weight: 400;
        line-height: 24px;
    }

    /* team image container */

    .team-image-container  {
        width: 90%;
        margin: 0 auto;
        grid-template-columns: repeat(1, 1fr);
    }

    .team-image-content img  {
        width: 100%;
    }

    .tainer-team-title {
        margin: 0 auto;
        margin-top: 60px;
    }
    .tainer-team-title p{
        margin-bottom: 40px;
    }

    /* Footer seciton start here */


    .footer-section {
        justify-content: left;
        align-items: normal;
        padding-top: 45px;
    } 

    .first-footer  {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
        width: 90%;
        gap: 20px;
    }

    .footer-contact {
        margin-left: 0;
    }

    .footer-contact  h4{
        margin-bottom: 25px;
    }
    
    .footer-contact p{
        margin-bottom: 10px;
    }

    .footer-content p {
        font-size: 1rem;
        margin-bottom: 0;
    }

    .footer-content {
        margin-bottom: 20px;
    }

    .last-footer {
        justify-content: left;
        align-items: normal;
        text-align: left;
        width: 90%;
        margin: 0 auto;
        font-size: 1.18rem;
    }

    .footer-section hr {
        margin-top: 55px;
        width: 90%;
    }

    /* Footer seciton start here */
    

    .card-3 {
        margin-bottom: 20px;
    }

}

