@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+VN:wght@100..400&family=Sacramento&display=swap');
/* Universal selector */

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #000000;
}

.clr-1 {
    color: rgb(230, 83, 60);
}


.header {
    max-width: 1558px;
    margin: 0 auto;
    height: 722px;
    background: linear-gradient(180.00deg, rgb(24, 24, 24)50%,rgba(119, 119, 119, 0) );
    padding-top: 57px;
}
.navbar-container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 32px;
}

.logo {
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 800;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-right: 70px;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin: 0 10px;
    padding: 4px;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 39px;
}

.navbar li {
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    text-align: left;
    padding: 8px 20px;
    border-radius: 46px;
    background: none;
}

.navbar  .clr-2 {
    background: rgb(230, 83, 60);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: flex-start;
} 

/* Navbar end */

/* description-container */

.first-containers {
    width: 80%;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 80px;
    
}

.description-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.description-container h1 {
    color: rgb(255, 255, 255);
    font-size: 4.875rem;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 28px;
   
}

.cng-font {
    font-family: "Sacramento", cursive;
    font-size: 7.5rem;
    font-weight:100;
    font-style: italic;
}

.description-container p {
    color: rgba(255,255,255,0.5);
    font-size: 1rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 28px;
}

.btn-primary-1 {
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    padding: 16px 40px;
    border-radius: 42px;
    border: none;
    background: rgb(230, 83, 60);
}
.btn-primary-3 {
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    padding: 16px 40px;
    border-radius: 42px;
    border: none;
    background: rgb(230, 83, 60);
}

.btn-primary-2 {
    color: rgb(241, 231, 231);
    font-size: 1.125rem;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    padding: 16px 40px;
    border-radius: 42px;
    border: none;
    background-color: transparent;
    border: 2px solid ;
    margin-bottom: 80px;
    margin-left: 15px;
}

.btn-size {
    width: 40px;
    height: 40px;
    background: transparent;
}



.header-image {
    width: 50%;
    position: relative;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box-1 {
    width: 211px;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items:center ;
    gap: 12px;
    border: 1px solid rgba(255,255,255,0.1); 
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.3);
    padding: 20px 23px;
    position: absolute;
    right: 375px;
    bottom: 75px;
}

.box-2 {
    width: 160px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.box-2 h3 {
    color: rgb(255,255,255);
    font-size: 1.375rem;
    font-weight: 900;
    letter-spacing: 0.54px;
    margin-bottom: 8px;
}

.box-2 p {
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.box-4 {
    width: 193px;
    height: 98px;
    display: flex;
    gap: 12px;
    border: 1px solid rgba(255,255,255,0.1); 
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255,255,255,0.1);
    padding: 20px 23px;
    position: absolute;
    right: 50px;
    bottom: 360px;
}

.box-3 {
    width: 160px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-3 h3 {
    color: rgb(255,255,255);
    font-size: 1.875rem;
    font-weight: 900;
    letter-spacing: 0.3px;
    margin-bottom: 5px;
}
.box-3 p {
    color: rgba(239, 237, 232, 0.65);
    font-size: 0.86rem;
    font-weight: 400;
    letter-spacing: 0.5px;
}

/* Main section start here */
/* habit-change-section */

.habit-change-section {
    width: 80%;
    margin: 2rem auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.change-habit-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    margin: 2rem auto;
}
.change-habit-description h1 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
}
.change-habit-description p {
    color: rgba(255,255,255,0.5);
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.3px;
    margin-bottom: 55px;
    line-height: 24px;
}

/* habit-change-images */

.habit-change-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

.image-1 {
    max-width: 231px;
    max-height: 274px;
}

.habit-change-images .image  {
    border-radius: 50%;
    margin-bottom: 30px;
}
.habit-change-images h5  {
    font-size: 1.125rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-bottom: 6px;
}

.habit-change-images p {
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255,255,255,0.5);
    line-height: 18px;
    letter-spacing: 0.3px;
}


/* Running image start here*/

 .running-section {
    width: 80%;
    height: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin-bottom: 100px;
    padding: 28px 48px;
} 

 .running-description {
    color: rgb(255, 255, 255);
    width: 45%; 
    height: 202px; 
     display: flex; 
     flex-direction: column;
    justify-content: center; 
    text-align: left;
    font-family: "Inter", sans-serif;
    padding-left: 20px;
    
} 

 .running-description h3 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    font-family: "Inter", sans-serif;
    margin-bottom: 14px;
}

.running-description  .run-des {
    font-size: 1rem;
    color: rgba(255,255,255,0.5);
    line-height: 24px;
    margin-bottom: 34px;
    letter-spacing: 0.3%;
}

.bton-size {
    width: max-content;
    background: transparent;
    border: none;
    font-size: 1.25rem;

}

.running-image {
    width: 40%;
    height: 100%;
    overflow: hidden;
}


.running-image img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    /* transform: scale(2); */
    border-radius: 18px;
}

/* Running image end here*/ 


